.user-profile-card {
    width: 13rem;
    height: 20rem;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.user-profile-card:hover {
    transform: scale(1.05);
}

.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.default-profile-icon {
    font-size: 60px;
    color: #ccc;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 10px auto 0;
}

.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 10px auto 0;
}

.status-tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #08ee3a;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
}

.status-tag-inactive {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ee0808;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #17a2b8;
}